.wayu{
    background-color: #86C341;
}
/*Nombre central de la página*/
.wayunombre{
    font-size: 720%;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

.col-lg-3{ /*h1*/
    margin-top: 90px;
}

/*Imagen del centro*/
.img-fluid{
    max-width: 93%;
}

/*boton  compre ahora
.botoncompre{
    background-color: #F68821;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 8px;
    width: 250px;
}*/

.botoncompre{
margin: 5px;
}
.botoncompre {
    display: inline-block;
    border-radius: 8px;
    background-color: #F68821;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 14px 40px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

.botoncompre{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}


  
  .botoncompre:hover span {
    padding-right: 25px;
  }
  
  .botoncompre:hover span:after {
    opacity: 1;
    right: 0;
  }

  /*Main navigation*/
  .navbar {
    background: white;
  }
  .navbar:not(.top-nav-collapse) {
    background: white;
  }
  .navbar .navbar-brand img {
    height: 40px;
    margin: 10px;
  }
  /*.hm-gradient {
    background: linear-gradient(40deg, rgba(255, 235, 59, 0.7) , rgba(255, 235, 59, 0.1));
  }*/
  .heading {
    margin: 0 6rem;
    font-weight: 700;
    color: #558b2f;
  }
  .subheading {
    margin: 2.5rem 6rem;
    color: #6eb468;
  }
  .btn.btn-margin {
    margin-left: 6rem;
    margin-top: 3rem;
  }
  /*.btn.btn-lily {
    background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
  }*/
  .title {
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: #079e28;
  }
  .subtitle {
    color: #0bb937;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 6rem;
  }

.img-fluid{
    max-width: 85%;
}